body{
    background: url("../img/bk17x8.jpg") no-repeat scroll center top #17abfd;
    margin: 0;
    overflow:hidden;
    padding: 0;
}
#joburi{
    display:none;
}
#users-online{
    background: none repeat scroll 0 0 #6699ff;
    border-radius: 10px 10px 10px 10px;
    float: right;
    height: 300px;
    width:140px;
}
#div-scris{
    background: none repeat scroll 0 0 #6699FF;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    font-weight: bold;
    height: 116px;
    width: 75px;
}
#scris-a{
    float: left;
    margin-left: 3px;
    margin-top: 45px;
}
#scris{
    font-size: 18px;
    font-weight: bold;
    height: 100px;
    width: 800px;
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
}
#catre{
    color: #FFFFFF;
    font-weight: bold;
}
#accepta{
    color: #FFFFFF;
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin-top: -16px;
    cursor:pointer;
}
#chat-display{
    background: none repeat scroll 0 0 #6699FF;
    border-radius: 10px 10px 10px 10px;
    float: left;
    height: 288px;
    padding-left: 25px;
    padding-top: 5px;
    width: 725px;
    color: #FFFFFF;
    font-weight:bold;
    font-size: 15px;
}
#user-chat{
    background: none repeat scroll 0 0 #333333;
    border-radius: 10px 10px 10px 10px;
    color:#FFFFFF;
    cursor:pointer;
    padding: 4px;
    margin-bottom: 5px;
}
#user-chat:hover{
    font-weight:bold;
}
#fjudet-a.active,#flocalitate-a.active,#fvarsta-a.active,#frecompensa-a.active,#filtre_a.active{
   color:#3faa25;
}
#judet-card,#localitate-card,#varsta-card,#recompensa-card{
    display:none;
}

#judet-card.active,#localitate-card.active,#varsta-card.active,#recompensa-card.active{
    display:block;
}
#filtre-img,#fjudet,#flocalitate,#fvarsta,#frecompensa{
    background: none repeat scroll 0 0 #333;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 22px;
    padding: 5px;
    float:left;
    margin-left:5px;
    padding-left:20px;
}
#wait{
    background-color: #2E70F7;
    border-radius: 1px 1px 7px 7px;
    color: #FFFFFF;
    font-size: 20px;
    padding-left: 18px;
}
#filtre-img{
    width:12%;
    float:none;
    margin-bottom: -2%;
}
#fjudet{
    width: 11%;
}

#flocalitate{
    width:17%
}

#fvarsta{
    width:13%;
}

#frecompensa{
    width:20%;
}

#filtre_a{
    
    
}
#filtre_a.non{
    color:red;
}

#filtre{
   display:none;
}
#filtre.active{
    display:block;
    margin-top:3%;
}

#content{
    left: 50%;
    margin-left: -480px;
    position: absolute;
    width: 900px;
    overflow:hidden;
    margin-top: 30px;
}
#jobs a:hover{
    color:#FFFFFF;
}
#jobs a{
    cursor:pointer;
}
#joburi img{
    margin-left: 5%;
    width: 17px;
}
#harta{
    position: fixed;
    margin-top: -10px;
    margin-left: 75px;
}
#roata{
    position: fixed;
    margin-top: 539px;
    margin-left: 320px;
}
#th{
    position: fixed;
    margin-top: 406px;
    margin-left: 689px;
}
#job{
    background: none repeat scroll 0 0 #6699ff;
    border-radius: 10px 10px 10px 10px;
    float: left;
    height: 125px;
    margin-bottom: 20px;
    padding-left: 10px;
    width: 884px;
    color:#2E2E2E;
}
img#filtre-img{
    width:3%;
    height:5%;
    background-image:url("/static/img/ok.png")
}
#login{
    float:right;
}
#add_job{
    display:none;
}
#add_job.active{
    display:block;
}
#jobs{
    display:none;
    height: 420px;
    margin-top: 50px;
    overflow: hidden;
    width: 100%;
}
#judet{
    height:800px;
   
}
#mod_bar{
    display:none;
}
#mod_bar.activ{
    display:block;

}
#div-mod-parola{
    display:none;
}
#div-mod-parola.activ{
    display:block;
    float:left;
}

#div-mod-email{
    display:none;
}
#div-mod-email.activ{
    display:block;
    float:left;
}

#div-mod-judet{
    display:none;
}
#div-mod-judet.activ{
    display:block;
    float:left;
}