<div id="jobs">
    <div id="filtre-img">
        <input type="checkbox" id="filtre-check">
        <a id="filtre_a">Filtre</a>
    </div>
    <div id="filtre">
            <div id="fjudet">
                <input type="checkbox" id="judet-check">
                <a id="fjudet-a">Judet</a>
                <form id="judet-form">
                    <select name="judet">
                        <option value="Arad">Arad</option>
                    </select>
                </form>
            </div>
            <div id="flocalitate">
                <input type="checkbox" id="localitate-check">
                <a id="flocalitate-a">Localitate</a>
                <form id="localitate-form">
                    <select name="localitate">
                        <option value="Seleus">Seleus</option>
                    </select>
                </form>
            </div>
            <div id="fvarsta">
                <input type="checkbox" id="varsta-check">
                <a id="fvarsta-a">Varsta</a>
                <form id="varsta-form">
                    <input type="text" name="min" placeholder="Min">-<br>
                    <input type="text" name="max" placeholder="Max">
                </form>
            </div>
            <div id="frecompensa">
                <input type="checkbox" id="recompensa-check">
                <a id="frecompensa-a">Recompensa</a>
                <form id="recompensa-form">
                    <input type="text" name="min" placeholder="0">-<br>
                    <input type="text" name="max" placeholder="Max">
                </form>
            </div>

    </div>
</div>
<div id="pagini">
</div>