<div id="joburi">
    <div id="filtre-img">
        <input type="checkbox" id="filtre-check">
        <a id="filtre_a">Filtre</a>
    </div>
    <div id="filtre">
        <form id="filtre-form">
            <div id="fjudet">
                <input type="checkbox" id="judet-check">
                <a id="fjudet-a">Judet</a><br>
                    <select name="judet">
                        <option value="Arad">Arad</option>
                    </select>
            </div>
            <div id="flocalitate">
                <input type="checkbox" id="localitate-check">
                <a id="flocalitate-a">Localitate</a><br>
                    <select name="localitate">
                        <option value="Seleus">Seleus</option>
                    </select>
            </div>
            <div id="fvarsta">
                <input type="checkbox" id="varsta-check">
                <a id="fvarsta-a">Varsta</a><br>
                    <input type="text" name="min" placeholder="Min">-<br>
                    <input type="text" name="max" placeholder="Max">
            </div>
            <div id="frecompensa">
                <input type="checkbox" id="recompensa-check">
                <a id="frecompensa-a">Recompensa</a><br>
                    <input type="text" name="min" placeholder="0">-<br>
                    <input type="text" name="max" placeholder="Max">
            </div>
        </form>
    </div>
    <div id="jobs">

    </div>
</div>
<div id="pagini">
</div>