<div id="profil">
    <a id="modifica">Modifica</a><br><br>
    <div id="mod_bar">
        <div id="links">
            <a id="parola">parola</a>
            <a id="email">email</a>
            <a id="judetp">judet</a>
        </div>
        {% include 'content/profil/parola.html' %}
        {% include 'content/profil/email.html' %}
        {% include 'content/profil/judet.html' %}
     </div>
    <br><br><a id="adauga">Adauga job</a>
    <div id="mesaj_add" style="display:none;"></div>
    <div id="add_job"><br><br>
        {% include 'content/profil/add_job.html' %}
    </div>
</div>